<div class="jumbotron" id="history-background">
        <div class="container history-container">
            
        <form action="/search" method="POST" class="form-inline second-search-bar">
            <div class="form-group">
            <input type="text" name="name" placeholder="Enter a history name here" class="form-control search-one-input">
            <button type="submit" class="btn btn-info search-one-button">Submit</button>
            </div>
        </form>

            {{#each names}}
            <h2><span id="person-name">{{full_name}}</span><span id="birth-year"> ({{birth_year}})- </span><span id="occupation">{{occupation}}</span></h2>
            <span id="city-details">City: {{city}}, {{country}}</span>

        </div>
        <div class="container person-page">
            <div class="row">
                <div class="col">
                    <div class='image'>
                        <img src="" alt="{{full_name}}"  class="history-image">
                    </div>
                </div>
                <div class="col">
                    <div class="summary-block">
                        <h2 id="summary-header">{{full_name}}'s Summary</h2>

                        <p id="summary"></p>
                    </div>
                </div>
           </div>

            <div class="row">
                <div class="col-12">
                    <p>
                        <button class="btn btn-leto history-btn" href="/videos" id="button-video" type="button" data-toggle="collapse" data-target="#collapseVideo" aria-expanded="false" aria-controls="collapseExample">
                        Videos/Documentaries of {{full_name}}
                        </button>
                    </p>
                    <div class="collapse" id="collapseVideo">
                        <div class="card card-body">
                            <hr>
                            <div id="videos">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>
                        <button class="btn btn-leto history-btn" href="/books" id="button-books" type="button" data-toggle="collapse" data-target="#collapseBooks" aria-expanded="false" aria-controls="collapseExample">
                        Books on {{full_name}}
                        </button>
                    </p>
                    <div class="collapse" id="collapseBooks">
                        <div class="card card-body">
                            <hr>
                            <div id="books">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <p>
                        <button class="btn btn-leto history-btn" href="/references" id="button-reference" type="button" data-toggle="collapse" data-target="#collapseReference" aria-expanded="false" aria-controls="collapseExample">
                        Additional References on {{full_name}}
                        </button>
                    </p>
                    <div class="collapse" id="collapseReference">
                        <div class="card card-body">
                            <hr>
                            <div id="reference">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>


        {{/each}}
</div>

<script>

    var value = $("#person-name").text();
    console.log(value)


    $(document).ready(function(){
        var url = "https://en.wikipedia.org/api/rest_v1/page/summary/" + value + "?redirect=true";

        $.ajax({
            url: url,
            method: "GET"
        }).done(function(response){
            console.log(response);
      
            $("#summary").text(response.extract);
            
            $(".history-image").attr("src", response.thumbnail.source)
        })
    })

    
    $(document).one("click", "#button-video", function(event){
        event.preventDefault();

            var youtubeApiKey = "AIzaSyAgk2t-v33L1UZlEksXMD96frXKLKhNIUQ"
            var youtubeUrl = "https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=6&q=documentary+" + value + " history" +  "&key=" + youtubeApiKey
            console.log(youtubeUrl)
            $.ajax({
               url: youtubeUrl,
               method: 'GET',
            }).done(function(response){

                // the css for the videos div
                $("#videos").css({
                    "display": "grid",
                    "grid-template-columns": "1fr 1fr",
                    "grid-template-rows": "auto",
                    "grid-gap": "5px",
                })

            // the for loops that creates the iframe of the youtube videos of the selected hero
               for(i=0; i < response.items.length; i++){
                   console.log(response.items[i].id.videoId)
                   var video = $("<iframe>")
                   video.attr("class","video")
                   video.attr("height", "255")
                   video.attr("width", "450")
                   video.attr("src","https://www.youtube.com/embed/" + response.items[i].id.videoId)
                   video.attr("frameborder", "0")
                   $("#videos").append(video)
                   console.log(video)
               }
           })
    })


    $(document).one("click", "#button-books", function(event){
        event.preventDefault();

        var url = "https://www.googleapis.com/books/v1/volumes?q=" + value + " history bio";

        $.ajax({
            url: url,
            method: "GET"
        }).done(function(response){
            
            var response = response.items

            $("#books").css({
            "display": "grid",
            "grid-template-columns": "1fr 1fr",
            "grid-template-rows": "auto",
            "grid-gap": "5px",
            })

            for(var i = 0; i < 4; i++){
                console.log(response[i].volumeInfo.title)
                var div = $("<div class='single-book'>");
                var img = $("<img class='single-book-img'>")
                img.attr("src", response[i].volumeInfo.imageLinks.thumbnail);
                var span = $("<br><div class='single-book-title'><br>");
                span.text(response[i].volumeInfo.title);
                var a1 = $("<a class=' single-book-link'>");
                        a1.attr("href", response[i].volumeInfo.previewLink );
                        a1.attr("target", "_blank");
                        a1.text("Preview this book")
                var a2 = $("<br><a class='single-book-amazon'>");
                    a2.attr("href", "https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=" + response[i].volumeInfo.title + "+by+" + response[i].volumeInfo.authors[0] )
                    a2.attr("target", "_blank");
                    a2.text("Buy this book on Amazon")
                $(div).append(img,span, a1, a2);
                $("#books").append(div)
            }

        })
    })


    $(document).one("click", "#button-reference", function(event){
        event.preventDefault();

        var div = $("<div class='references'>");
        var a = $("<a id='reference-one' class='ref-links'>")
            a.attr("href", "https://www.britannica.com/search?query=" + value);
            a.attr("target", "_blank");
            a.text("https://www.britannica.com/biography/" + value);
        var a2 = $("<br><a id='reference-two' class='ref-links'>")
            a2.attr("href", "http://www.history.com/search?q=" + value);
            a2.attr("target", "_blank");
            a2.text("http://www.history.com/topics/ancient-history/" + value);
        var a3 = $("<br><a id='reference-three' class='ref-links'>")
            a3.attr("href", "http://www.livius.org/search/?q=" + value);
            a3.attr("target", "_blank");
            a3.text("http://www.livius.org/articles/person/" + value);
        $(div).append(a,a2,a3);
        $("#reference").append(div)
    })

    
</script>